.App {
  text-align: center;
}

.header_welcome {
  color: white;
}

.tracks {
  .tracks_header {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: left;

    >div:first-child {
      flex-basis: 3%;
    }
    >div:nth-child(2) {
      flex-basis: 57%;
    }
    >div:nth-child(3) {
      flex-basis: 30%;
    }
    >div:last-child {
      flex-basis: 10%;
    }
  }

  .track {
    display: flex;
    text-align: left;
    align-items: center;
    #track_play {
      padding-right: 15px;
      flex-basis: 3%;
    }
    .track_main {
      display: flex;
      flex-direction: column;
      flex-basis: 57%;
      justify-content: center;
    }
    #track_album {
      flex-basis: 30%;
    }
    #track_duration {
      flex-basis: 10%;
    }
  }
}