.App {
  text-align: center; }

.header_welcome {
  color: white; }

.tracks .tracks_header {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: left; }
  .tracks .tracks_header > div:first-child {
    flex-basis: 3%; }
  .tracks .tracks_header > div:nth-child(2) {
    flex-basis: 57%; }
  .tracks .tracks_header > div:nth-child(3) {
    flex-basis: 30%; }
  .tracks .tracks_header > div:last-child {
    flex-basis: 10%; }
.tracks .track {
  display: flex;
  text-align: left;
  align-items: center; }
  .tracks .track #track_play {
    padding-right: 15px;
    flex-basis: 3%; }
  .tracks .track .track_main {
    display: flex;
    flex-direction: column;
    flex-basis: 57%;
    justify-content: center; }
  .tracks .track #track_album {
    flex-basis: 30%; }
  .tracks .track #track_duration {
    flex-basis: 10%; }

/*# sourceMappingURL=App.css.map */
